h1 {
	color: #3F51B5;
	text-align: center;
	font-size: 3em;
}

body {
	background-color: white;
	font-family: 'Bree Serif', serif;
}

.form {
	border: solid 2px black;
	text-align: center;
	margin: 0 auto;
	border-radius: 40px;
	margin-bottom: 2em;
}

input {
	width: 80%;
	margin-bottom: 2em;
	margin-top: 2em;
}

.imageDisplay {
	margin-left: 8em;
	margin-right: 8em;
	margin-top: 2em;
	text-align: center;
	display: block;
	font-size:0;

}

/*Groups images side by side */

.imageResult {
	display: inline-block;
}

/* Styles textbox */

.userLocationInput {
	border-top: solid 1px #8e8e8e;
	border-right: solid 1px #d1d1d1;
	border-left: solid 1px #d1d1d1;
	border-bottom: solid 1px #e4e4e4;
	height: 30px;
	width: 275px;
	font-family: 'Bree Serif', serif;
	font-size: 1em;
	vertical-align: middle;

}

/* Styles submit button */

button {
   border-top: 1px solid #3f51b5;
   background: #3f51b5;
   background: -webkit-gradient(linear, left top, left bottom, from(#3f51b5), to(#3f51b5));
   background: -webkit-linear-gradient(top, #3f51b5, #3f51b5);
   background: -moz-linear-gradient(top, #3f51b5, #3f51b5);
   background: -ms-linear-gradient(top, #3f51b5, #3f51b5);
   background: -o-linear-gradient(top, #3f51b5, #3f51b5);
   padding: 7px 14px;
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 15px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}

button:hover {
   border-top-color: #3948ab;
   background: #3948ab;
   color: #ccc;
}

button:active {
   border-top-color: #3948ab;
   background: #3948ab;
}

/* Styles sample queries */

p:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Adds border around images */

img {
	border: 2px solid #3948ab;
}




