h1 {
	color: green;
	text-align: center;
}

body {
	background-color: salmon;
}

.form {
	width: 30em;
	border: solid 2px black;
	text-align: center;
	margin: 0 auto;
}

input {
	width: 80%;
	margin-bottom: 2em;
	margin-top: 2em;
}

.searchInstructions {
	padding: 1em;

}

.imageDisplay {
	margin-left: 8em;
	margin-right: 8em;
	margin-top: 2em;
	border: solid 2px black;
	text-align: center;

}

.imageResult {
	display: inline-block;
}